.form-group {
  margin: 0;
  padding: 2px;
}

.form-group h2{
  @include flexCenter();
  @include textGradient();
  font-family: $h-font;
  font-size:2rem;
}

.form-group button {
  margin-top: 10px;
  border:none;
  color:$light;
  background:$dark;
  width: 100%;
  height:2rem;
  box-shadow:$shadow;
}

.form-group button:hover{
  transform:scale(1.1);
}

.form-group button:active{
  transform:scale(0.9);
}

.form-group label {
  text-align: center;
}

.form-group p {
  @include flexCenter();
}