$primary:#ddd;
$dark:#333;
$grey:#eee;
$light:#fff;
$shadow:0 1px 5px rgba(104,104,104,0.8);
$def-padding:1.3rem;
$bkg-vertical:linear-gradient(180deg, rgba(253,132,45,1) 0%, rgba(195,34,34,1) 50%, rgba(253,132,45,1) 100%);
$bkg-horizontal:linear-gradient(90deg, rgba(253,132,45,1) 0%, rgba(195,34,34,1) 100%);
$h-font:Impact, Charcoal, sans-serif;
$p-font:Tahoma, Geneva, sans-serif;